$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

///Dat body
body {
  width: 100%;
  font-family: Impact, Charcoal, sans-serif;
  margin: 0 auto;
  background-color: #265B68;

}
//ID container
#main-container {
  margin: 0 auto;
  width: 90%;
}
//Id Main Heading
#main-heading {
  font-size: 50px;
  text-align: center;
}
//Main Header title
#header {
  color: #ECF0F1;
  text-align: center;
}

#winner {
  font-size: 4em;
  text-align: center;
  color: #F07818;
}
.datbuttons {
  text-align: center;
}

#gamesPlayed {
  font-size: 2em;
  color: #F07818 ;
}

table {
  margin: 0 auto;
  border-collapse: separate;
}

//not sure if border collapse is necessary here
td {
  font-size: 4em;
  text-align: center;
  color: #ffffff;
  width: 130px;
  height: 130px;
}

.start-cell {
  border: 2px solid black;
  border-radius: 10px;
  opacity: .75;
  box-shadow: 2px 2px black;
  background-color: #5F7187;
}

.start-cell:hover {
  background-color: #D91E18;
}

select {
  background-color: #9ce0d4;
  border: 1px solid black;
  height: 50px;
  font-size: 20px;
}

.new-game {
  margin-top: 20px;
  text-align: center;
}

#scoreBoard {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
}
.xzibit {
  //background-image: url('../../images/xzibit.gif');
  background-color: blue;
}

.oprah {
  //background-image: url('./images/oprah1.gif');
  background-color: red;
}

img {
  width: 35%;
}
