$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

///Dat body
body {
  width: 100%;
  font-family: Impact, Charcoal, sans-serif;
  margin: 0 auto;
  background-color: #336e7b;

}
//ID container
#main-container {
  margin: 0 auto;
  width: 90%;
}
//Id Main Heading
#main-heading {
  text-align: center;
  font-size: 50px;
}
//Main Header title
#header {
  color: #e87e04;
}

table {
  margin: 0 auto;
  border-collapse: separate;
}

//not sure if border collapse is necessary here
td {
  font-size: 4em;
  text-align: center;
  color: #ffffff;
  width: 130px;
  height: 130px;
}

.start-cell {
  border: 2px solid black;
  border-radius: 10px;
  opacity: .75;
  box-shadow: 2px 2px black;
}

.Xzibit {
  background-image: src('assets/images/oprah1.gif');

}
.Oprah {
  background-image: src('assets/images/xzibit.gif');
}


.start-cell:hover {
  background-color: #D91E18;
}

select {
  background-color: #9ce0d4;
  border: 1px solid black;
  height: 50px;
  font-size: 20px;
}


img {
  width: 130px;
  height: 120px;
}
